@import '../../../default.scss';

.initial-container {
  z-index: 0;
  width: 400px;
  height: 408.2px;
  position: absolute;
  top: 0;
  // right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 0;
  &.first-container {
    right: calc(432px + 10%);
  }
  &.second-container {
    right: 10%;
  }
  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    // transform: rotateZ(30deg) !important;
  }
  .solid-initial {
    position: absolute;
    top: 3px;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    // transform: rotateZ(30deg);
    z-index: 1;
    &.initial-p {
      top: 6px;
      left: 9px;
      width: 96%;
    }
  }
}
.svg-container {
  stroke: $mint;
  stroke-width: 2;
}
